//colors and fonts

$font-stack-main: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$font-stack-headers: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
$light-blue: #C7F7FF;
$medium-blue: #89C0C9;
$dark-blue: #3a5E63;
$light-brown: #C9A689;
$dark-brown: #7C593C;
$light-grey: #d4d4d4;
$dark-grey: #222;
$white: #fff;
$smallbp: 700px;
$mediumbp: 900px;
$largebp: 1400px;
